<ion-header collapse="fade">
  <ion-searchbar show-clear-button="focus" [debounce]="300" (ionChange)="handleChange($event)"
    placeholder="Fitler by ID or Text"></ion-searchbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item *ngIf="!isLoading && !images.length">
    <ion-label>
      No results
    </ion-label>
  </ion-item>
  <ion-item *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </ion-item>
  <ion-virtual-scroll [items]="images" approxItemHeight="370px">
    <ion-card *virtualItem="let item; let itemBounds = bounds;" (click)="onCardClick(item)">
      <div class="image">
        <ion-img [src]="item.photo" [alt]="item.id"></ion-img>
      </div>
      <ion-card-header>
        <ion-card-title>ID: {{ item.id }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Text: {{ (item.text.length>100)? (item.text | slice:0:100)+'...':(item.text) }}
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>

  <ion-modal [isOpen]="modalStatus">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>ID: {{ modalData.id }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modalStatus = false">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>
          <div class="image">
            <ion-img [src]="modalData.photo" [alt]="modalData.id"></ion-img>
          </div>
          <ion-card-content>Text: {{ modalData.text}}
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
